#modal {
  z-index: 0;
  opacity: 0;
  transform: scale(0.01);
  transition: all 200ms ease-out;
}
#modal.open {
  display: flex;
  z-index: 10;
  opacity: 1;
  transform: scale(1);
}

.noCardsAlert {
  font-size: 2vw;
  color: black;
}
.largerImgDisplay {
  width: 100%;
  max-width: 1024px;
  height: 90%;
  background: #568f8b;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 5px 9px rgba(0, 0, 0, 0.8));
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.deckInfoModal {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}
#cardsImg {
  width: max(1.5vw, 25px);
  height: max(1.5vw, 25px);
  border: none;
}
.largerImgDisplay img {
  height: 50vh;
  width: 35.818625vh;
  border-radius: 10px;
  border: 4px solid white;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.5));
}
.largerImgDisplay .hiResBox {
  height: 40vh;
  width: 28.6549vh;
  border: 4px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;

  background: transparent;
  color: white;
  font-weight: bold;
  font-family: arial;
  border: none;
  font-size: max(3vw, 24px);
  outline: none;
  cursor: pointer;
  transition: color 100ms, transform 100ms;
  padding: 5px;
}
.close:hover {
  color: rgba(100, 100, 100, 0.7);
}
.close:active {
  transform: scale(0.96);
}
.nextPrev button {
  margin: 0 10px;
}
.hiResButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
}
.hiResButtonContainer button {
  font-size: max(1.5vw, 24px);
  padding: 10px 12px;
  color: white;
  background-color: rgb(0, 200, 200);
  border: none;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transition: transform 100ms ease-out, background-color 100ms ease-out;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.hiResButtonContainer button:active {
  transform: scale(0.95);
  background-color: rgb(50, 200, 200);
}
#modalBgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  display: none;
}
#modalBgOverlay.open {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  transition: all 700ms ease-out;
}

@media (max-aspect-ratio: 10/9) {
  .largerImgDisplay {
    height: 100%;
    border-radius: 0;
    bottom: 0;
  }
}
@media (hover: hover) {
  .card:hover {
    transform: scale(1.02);
  }
}
